html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

[l-horizontal], [l-vertical] {
  display: flex;
}
[l-vertical] {
  flex-direction: column;
}

[l-grow="1"], [l-grow] { flex-grow: 1; }
[l-grow="2"] { flex-grow: 2; }

.menu {
  height: 2rem;
  line-height: 2;
}

iframe {
  height: 100%;
  border: none;
}
