html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#editor { 
  position: absolute;
  top: 0;
  right: 500px;
  bottom: 0;
  left: 0;
}

#preview {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 100%;
}
